@mixin navigation (){
    &-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
       
    }
    &-item{
       list-style-type: none;
    }
    &-link{
        color: color(primary);
        font-size: size(sm);
        text-decoration: none;
        transition: all .5s;
        &:hover{
            color:lighten(color(primary), 40%);
        }
        
    }
}


/*responsive*/
@mixin response($breakpoint){
    @if($breakpoint == xl){
        @media(min-width: 992px){
            @content;
        }
    }

    @if($breakpoint == lg){
        @media(max-width: 992px){
            @content;
        }
    }

    @if($breakpoint == md){
        @media(max-width: 768px){
            @content;
        }
    }

    @if($breakpoint == sm){
        @media(max-width: 576px){
            @content;
        }
    }

}

@mixin flexposition($justifycontent:center, $alignitem:center) {
    display: flex;
    justify-content: $justifycontent;
    align-items: $alignitem;
    
}

/*listas del footer*/
@mixin footerlist(){
    &-heading{
        font-size: size(lg);
        color: color(primary);
    }

    &-item{
        list-style: none;
        margin: 1rem 0;
    }

    &-link{
        text-decoration: none;
        font-size: size(sm);
        color: lighten(color(primary), 15%);
        &:hover {
            color: lighten(color(primary), 40%);
        }
    }
}
